@font-face {
    font-family: "Inter";
    src: url(/src/assets/Inter-VariableFont_slnt\,wght.ttf);
  }
  
  @font-face {
    font-family: "Baskerville";
    src: url(/src/assets/Baskervville-Regular.ttf);
  }
  
  @font-face {
    font-family: "Baskerville-Italic";
    src: url(/src/assets/Baskervville-Italic.ttf);
  }

h1 {
    font-family: Baskerville;
    letter-spacing: 5pt;
    color: #544c44;
}

mat-label {
    color:#544c44
}

mat-form-field {
    width: 100%;
    padding-bottom: 10px;
    font-family: Inter;
    color: #BEAB9D;   
}

::ng-deep .mat-focused .mat-form-field-label {
    color: green !important;
   }

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: green !important;
  } 

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: green !important;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

 button {
    color: #E9E8E6;
    font-family: Inter;
    background-color: #544c44;
    width: 95%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: medium;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  button:hover {
    color: #544c44;
    background-color: #BEAB9D;
  }

