    <div class="container pt-5 px-5">
        <div class="float-start col-xl-6 col-lg-6 col-md-6 col-sm-5 col-5">
        <h2 class="fw-bold"><span style="font-family: Inter;">mode.</span> Clients</h2>
        </div>
        <div class="pb-3 text-end col-xl-6 col-lg-6 col-md-6 col-sm-8 col-7">
        <button (click)="createNewClient()" class="btn">+ New Client</button>
        </div>
    </div>
    <div class="px-5">
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Client ID</th>
                  <th scope="col">Client Name</th>
                  <th scope="col">Client Type</th>
                  <th scope="col">HQ Location</th>
                  <th scope="col">Primary Contact Name</th>
                  <th scope="col">Primary Contact Number</th>
                  <th scope="col">Primary Contact Email</th>
                  <th scope="col">Projects</th>
                  <th scope="col">Client Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>001</td>
                  <td>Client A</td>
                  <td>Prospective Client</td>
                  <td>Santa Clara, CA</td>
                  <td>John Smith</td>
                  <td>(415) 123-4567</td>
                  <td>jsmith&#64;clienta.com</td>
                  <td>None</td>
                  <td>John is our primary contact and is eager to establish our partnership.</td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Client B</td>
                    <td>Existing Client</td>
                    <td>Tiburon, CA</td>
                    <td>Suzanne Chua</td>
                    <td>(415) 003-9067</td>
                    <td>schua&#64;clientb.com</td>
                    <td>Project Blue, Project Jade, and Project Pearl</td>
                    <td>Long-standing client since 2005. Suzanne has been our primary contact since 2011.</td>
                </tr>
                <tr>
                    <td>003</td>
                    <td>Client C</td>
                    <td>Prospective Client</td>
                    <td>Milpitas, CA</td>
                    <td>Mark Jones</td>
                    <td>(415) 536-3167</td>
                    <td>mjones&#64;clientc.com</td>
                    <td>None</td>
                    <td>We have been in contact with Mark since 2019 and is now interested in establishing a partnership with us.</td>
                </tr>
                <tr>
                    <td>004</td>
                    <td>Client D</td>
                    <td>Existing Client</td>
                    <td>Los Angeles, CA</td>
                    <td>Leila Marys</td>
                    <td>(650) 123-4227</td>
                    <td>leila&#64;clientd.com</td>
                    <td>Project Red</td>
                    <td>Official client since January 2024. Leila is our primary contact.</td>
                </tr>
                <tr>
                    <td>005</td>
                    <td>Client E</td>
                    <td>Existing Client</td>
                    <td>Napa, CA</td>
                    <td>Deepak Narang</td>
                    <td>(415) 003-4207</td>
                    <td>dnarang&#64;cliente.com</td>
                    <td>Project Gold</td>
                    <td>Long-standing client since 2010. Recently </td>
                </tr>
                <tr>
                    <td>006</td>
                    <td>Client F</td>
                    <td>Existing Client</td>
                    <td>Tiburon, CA</td>
                    <td>Suzanne Chua</td>
                    <td>(415) 123-4567</td>
                    <td>schua&#64;clientb.com</td>
                    <td>Project Blue, Project Jade, and Project Pearl</td>
                    <td>Long-standing client since 2005. Suzanne has been our primary contact since 2011.</td>
                </tr>
                <tr>
                    <td>007</td>
                    <td>Client G</td>
                    <td>Existing Client</td>
                    <td>Antioch, CA</td>
                    <td>Hayley Drew</td>
                    <td>(415) 993-2167</td>
                    <td>hayleydrew&#64;clientg.com</td>
                    <td>Project Teal</td>
                    <td>Low-tier client - limited needs</td>
                </tr>
              </tbody>
            </table>
            <div class="button-container pb-4">
              <div mat-dialog-actions class="d-flex flex-wrap col-6 justify-content-center">
                  <button aria-label="close dialog" mat-dialog-close class="btn btn-sm mx-2">Cancel</button>
              </div>
          </div>
    </div>
  </div>