<header class="d-flex flex-wrap justify-content-center py-3 border-bottom bg-dark">
  <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4 fw-bold text-white">mode.</span>
  </a>

  <ul class="nav nav-pills px-5">
    <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Meetings</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Clients</a></li>
  </ul>
</header>

<div class="px-5 text-center bg-body-tertiary hero">
  <h1 class="text-body-emphasis pb-4 mb-4">Client Management Portal</h1>

</div>

<div class="content">
  <main class="px-1">
    <div class = "container pt-3">
      <div class = "col-md-7 mx-3">
        <app-meeting-dashboard></app-meeting-dashboard>
      </div>
      <div class = "col-md-4 mx-3 py-4">
        <app-create-meeting></app-create-meeting>
      </div>
    </div>
  </main>
</div>

  <footer class="pt-3 text-white-50 bg-dark">
    <p><a href="https://www.linkedin.com/in/ronetteguevara/" class="text-white">© Ronette Guevara 2024</a></p>
  </footer>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
 