@font-face {
  font-family: "Inter";
  src: url(../assets/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: "Baskerville";
  src: url(../assets/Baskervville-Regular.ttf);
}

@font-face {
  font-family: "Baskerville-Italic";
  src: url(../assets/Baskervville-Italic.ttf);
}

html {
  height: 100vh;
}

button {
  padding: 0 12px 0 12px;
}

.mat-toolbar {
  width: 100%;
  background-color: #544c44;
}

.hero {
  background-image: url(../assets/Hero13.png);
  object-fit: cover;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Baskerville;
  letter-spacing: 5pt;
  text-shadow: 2px 2px 10px #D7B18B;
  color: #544c44;
}

.content {
  background-color: #e9e8e6;
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #544c44;
  font-family: Inter;
}

button {
  color: #E9E8E6;
  font-family: Inter;
  background-color: transparent;
  border: 0;
  font-size: medium;
}

button:hover {
  color: #BEAB9D;
  background-color: transparent;
}

a:link {
  color: #fdfdfd;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #BEAB9D;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #BEAB9D;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #BEAB9D;
  background-color: transparent;
  text-decoration: underline;
}

.no-margin {
  margin: 0%;
}

.example-spacer {
  flex: 1 1 auto;
}

