<div class ="container"></div> 
 <mat-toolbar class="d-flex flex-wrap justify-content-center">
      <div class="col-xl-9 col-lg-8 col-md-7 col-sm-5 col-3">
        <a href="http://localhost:4200/" class="d-flex align-items-center me-md-auto link-body-emphasis">
          <img src = "../assets/Logo - Light.png" style="height:25px;" class="px-4">
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7 col-9">
        <button (click)="createNewMeeting()">Create New Meeting</button>
        <button>Meetings</button>
        <button>Clients</button>
      </div>
  </mat-toolbar>

<div class="px-5 text-center bg-body-tertiary hero">
  <h1>CLIENT MANAGEMENT PORTAL</h1>

</div>
<div class="content">
  <div class ="px-4 mx-3 pb-4">
        <app-meeting-dashboard></app-meeting-dashboard>
  </div>
</div>

  <footer>
    <div class="p-3 footer-container">
      <div>
        <img src = "../assets/Logo - Light.png" style="height:25px;" class="mb-2">
      </div>
      <div>
        <p class ="no-margin"><a href="https://www.linkedin.com/in/ronetteguevara/">© 2024 Ronette Guevara</a></p>
      </div>
      <div> 
        <p style ="color:#BEAB9D" class="no-margin">All Rights Reserved</p>
      </div>
    </div>
  </footer>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
 