@font-face {
    font-family: "Inter";
    src: url(/src/assets/Inter-VariableFont_slnt\,wght.ttf);
  }
  
  @font-face {
    font-family: "Baskerville";
    src: url(/src/assets/Baskervville-Regular.ttf);
  }
  
  @font-face {
    font-family: "Baskerville-Italic";
    src: url(/src/assets/Baskervville-Italic.ttf);
  }

  th {
    font-family: Inter;
    color: #544C44;
  }

  td {
    font-family: Inter;
    color: #544C44;
  }

