<div class="rounded-4 shadow bg-light mb-5">
    <div class="modal-header p-5 pb-4 border-bottom-0">
      <h1 class="fw-bold mb-0 fs-2 dark" style="color:#130f0e">Create a new meeting</h1>
    </div>

    <div class="p-5 pt-0">
      <form class="">
        <div class="form-floating mb-3">
          <input type="text" class="form-control rounded-3" id="MeetingTitle" placeholder="Introduction Meeting">
          <label for="floatingInput">Meeting Title</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control rounded-3" id="ClientName" placeholder="Client A">
          <label for="ClientName">Client Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="date" class="form-control rounded-3" id="MeetingDate" placeholder="">
          <label for="MeetingDate">Meeting Date</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control rounded-3" id="InternalAttendees" placeholder="Jane Doe">
          <label for="Internal Attendees">Internal Attendees</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control rounded-3" id="ExternalAttendees" placeholder="John Doe">
          <label for="External Attendees">External Attendees</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control rounded-3" id="MeetingNotes" placeholder="">
          <label for="Internal Attendees">Meeting Notes</label>
        </div>
      </form>
    </div>
  </div>
